body{
    font-family: dreaming-outloud-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #1f2024;
    color: white;
}
.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}