body{
    font-family: dreaming-outloud-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #1f2024;
    color: white;
}
.image-container{
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.slide-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.image-one {
    animation: fadeOne 10s infinite;
}
.image-two {
    animation: showImage 3s infinite;
}

@keyframes showImage {
    0%, 40% {
        opacity: 0;
    }

    40.1%, 90% {
        opacity: 1;
    }

    90.1%, 100% {
        opacity: 0;
    }
}